@import "../base/_variables";

.list-exercise {
  // background: green;
  display: inline-block;
}

.exercise {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  // padding: 20px;
  // padding-top: 40px;

  // SCROLLBAR
  ::-webkit-scrollbar {
      width: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.15);
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.2);
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .panel-title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: $elm-grey;
    z-index: 9;
    padding: 2px 25px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap;
  }

  summary,
  iframe,
  .CodeMirror {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  // SUMMARY

  .summary {
    background: rgb(33, 35, 45);
    position: relative;
    border-radius: 4px 0 0 4px;
    display: grid;
    min-width: 350px;
    // FIXME: BAAAAAAH 
    grid-template-rows: 84vh;

    > .inner {
      overflow: auto;
      padding: 25px 30px;
      padding-top: 30px;
    }
  }

  // CODE

  .CodeMirror {
    width: 100%;
    height: 100%;
    font-size: 13px;
  }

  .CodeMirror.cm-s-dracula {
    padding-top: 60px;
  }

  form {
    position: relative;
    margin: 0;
    border: 1px solid rgba(0,0,0,0.5);
    border-top: 0;
    border-bottom: 0;
  }

  button {
    $size: 50px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $elm-green;
    border: 0;
    color: #fff;
    text-align: center;
    height: $size;
    width: $size;
    border-radius: $size;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform ease 0.15s;
    z-index: 2;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  // RESULT

  .tests {
    background: rgb(33, 35, 45);
    position: relative;
    border-radius: 0 4px 4px 0;

    > .inner {
      overflow: auto;
      padding: 25px 30px;
      padding-top: 70px;
    }

    .test-summary {
      display: grid;
      grid-auto-flow: column;
      text-align: center;
      margin-bottom: 20px;

      > div {
        $radius: 30px;
        padding: 15px;

        &:first-of-type {
          border-radius: 0 30px 30px 0;;
          border: 1px solid rgba(0, 35, 5, 0.98);
          border-radius: $radius 0 0 $radius;
          background-color: rgba(139, 195, 74, 0.46);
        }
        &:last-of-type {
          background: rgba(171, 0, 0, 0.18);
          border-radius: 30px 0 0 30px;
          border: 1px solid rgba(0, 35, 5, 0.98);
          border-radius: 0 $radius $radius 0; 
        }
      }
    }

    .test {
      padding: 30px 35px;
      background: rgba(0, 0, 0, 0.15);
      margin-bottom: 15px;
      border-radius: 4px;
      position: relative;

      > div {
        > div {
          margin-bottom: 15px;

          &:last-of-type() {
            margin-bottom: 0;
          }
        }
      }

      &::before {
        width: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        border-radius: 4px 0 0 4px;
      }

      &.failed {
        &::before {
          background: red;
        }
      }

      &.passed {
        &::before {
          background: green;
        }
      }

      h2 {
        margin: 0;
        font-weight: 100;
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #fff;
      }

      .result-title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem;
        background: rgba(0, 0, 0, 0.15);
        display: inline-block;
        padding: 5px 15px 2px 15px;
        font-weight: 600;
        border-top-right-radius: 10px;
        color: #5a6376;
      }

      pre {
        margin: 0;
        border-top-left-radius: 0;
      }

      // i {
      //   font-size: 1.7rem;
      //   position: relative;
      //   top: 10px;
      // }

      // .icon-check-square {
      //   color: $elm-green;
      // }

      // .icon-square {
      //   color: red;
      // }
    }
  }

  .iframe-wrapper {
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 0 4px 4px 0;
      padding: 20px;
    }
  }
}
