@import "../base/_variables";

.exercise {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;

  // SCROLLBAR
  ::-webkit-scrollbar {
      width: 10px;
  }

  ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.15);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.4);
  }

  .panel-title {
    @include centered-horizontaly;
    top: 15px;
    background: $elm-grey;
    z-index: 9;
    padding: 2px 25px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap;
  }

  iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  // SUMMARY

  .summary {
    background: rgb(33, 35, 45);
    position: relative;
    display: grid;
    grid-template-rows: 1fr;

    > .inner {
      @include full-size;
      overflow: auto;
      padding: 25px 30px;
      padding-top: 30px;
    }
  }

  // CODE

  .code {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid rgba(0,0,0,0.5);
    border-top: 0;
    border-bottom: 0;

    > div {
      position: relative;
      overflow: auto;
    }

    // CODE PANEL
    .code-panel {
      border-bottom: 1px solid rgba(0,0,0,0.5);

      form {
        @include full-size;
        margin: 0;
      }
    }

    .CodeMirror {
      height: 100%;
      font-size: 13px;
    }

    .CodeMirror-scroll {
      top: 80px;
    }

    // TESTS PANEL
    .tests-panel {
      pre {
        @include full-size;
        padding-top: 60px;
        margin: 0;
        background: none;
        white-space: pre-wrap;
      }
    }
  }


  button {
    $size: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $elm-green;
    border: 0;
    color: #fff;
    text-align: center;
    height: $size * 3;
    width: $size;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    transition: transform ease 0.1s;
    z-index: 100;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  // RESULT

  .iframe-wrapper {
    position: relative;
    background: rgb(33, 35, 45);

    iframe {
      width: 100%;
      height: 100%;
      padding: 25px 30px;
      padding-top: 70px;

      body, pre {
        color: #fff;
      }
    }
  }
  /*
  .tests {
    background: rgb(33, 35, 45);
    position: relative;
    border-radius: 0 4px 4px 0;

    .panel-title {
      padding: 0;
      padding-left: 20px;
    }

    > .inner {
      overflow: auto;
      padding: 25px 30px;
      padding-top: 70px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .test-summary {
      display: inline-block;
      grid-auto-flow: column;
      text-align: center;
      margin-left: 20px;

      i {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }

      > div {
        display: inline-block;
        $radius: 30px;
        padding: 2px 14px;

        &:first-of-type {
          background-color: #66a037;
          color: #295407;
        }
        &:last-of-type {
          border-radius: 0 $radius $radius 0;
          background: #b73434;
          color: #521414;
        }
      }
    }

    .test {
      padding: 30px 35px;
      background: rgba(0, 0, 0, 0.15);
      margin-bottom: 15px;
      border-radius: 4px;
      position: relative;

      > div {
        > div {
          margin-bottom: 15px;

          &:last-of-type() {
            margin-bottom: 0;
          }
        }
      }

      &::before {
        width: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        border-radius: 4px 0 0 4px;
      }

      &.failed {
        &::before {
          background: #b73434;
        }
      }

      &.passed {
        &::before {
          background: #66a037;
        }
      }

      h2 {
        margin: 0;
        font-weight: 100;
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #fff;
      }

      .result-title {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem;
        background: rgba(0, 0, 0, 0.15);
        display: inline-block;
        padding: 5px 15px 2px 15px;
        font-weight: 600;
        border-top-right-radius: 10px;
        color: #5a6376;
      }

      pre {
        margin: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .iframe-wrapper {
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 0 4px 4px 0;
      padding: 20px;
    }
  }*/
}
